html {
    direction: rtl;
    background-color: #f6f6f6;
}
body {
    margin: 0;
}
.site-header {
    background-color: white;
    height: 3rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-block-end: 1px solid #d8d8d8;
    box-shadow: 0 0 3px #ccc;
    z-index: 1000;
    h1 {
        margin: 0;
    }
}